<p id="notice"><%= notice %></p>

<h1>Listing Nodes</h1>
<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li><a href="/cenario/<%= @id %>">Algoritimo 1</a></li>
    <li class="active"><a href="#">algoritimo 2</a></li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Variable</th>
        <th>Condition</th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
      <tr>
        <td ><%= result %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
