<p id="notice"><%= notice %></p>
<div class="col-sm-12">
  <h1>Escolha o tipo de busca</h1>
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Busca por atributos</a></li>
      <li><a href="/cenario_resultado/<%= @id %>">Busca por produtividade</a></li>
    </ul>

    <div class="row">
      <div class="col-sm-8">
        <div class="row mg-t-20">
          <div class="col-sm-4">
            <strong>Variable</strong>
          </div>
          <div class="col-sm-8">
            <strong>Condition</strong>
          </div>
        </div>

        <div class="row mg-t-10">
          <div class="col-sm-12">
            <% @nodes.each do |key,value| %>
              <div class="row mg-b-15">
                <div class="col-sm-4">
                  <%= key.to_s.humanize %>
                  </div>
                <div class="col-sm-8">
                  <%= select_tag key, options_from_collection_for_select(value,"name","name"), {prompt: "Selecione uma opção" ,class: 'node-value-selector form-control'}  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <h2>Produtividade:</h2>
      </div>
    </div>

  </div>
</div>
