<p id="notice"><%= notice %></p>

<h1>Listing Nodes</h1>

<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Condition</th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |key,value| %>
      <tr>
        <td ><%= key.to_s.humanize %></td>
        <td><%= select_tag key, options_from_collection_for_select(value,"name","name"), {prompt: "Selecione uma opção" ,class: 'node-value-selector'}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
