<div class="col-sm-12">
	<h1>Nova Arvore</h1>
</div>

<%= render 'form' %>

<div class="col-sm-2 pull-right">
	<%= link_to 'Voltar', trees_path,class: 'btn btn-warning btn-lg btn-full-width pull-right' %>
</div>
